### Frontend Files
frontend/node_modules
frontend/build
frontend/env
frontend/vercel
frontend/cache
frontend/build
frontend/env
frontend/dev.vars
frontend/wrangler
frontend/.env
frontend/.dev.vars
frontend/.wrangler/tmp

### IntelliJ project files
.idea/
*.iml
/target/*
/**/target/
frontend/.vscode
frontend/.yarn
